
.atividade{
  text-align:center;
}

.paleta{
  margin:20px 0;
}

.cor{
  width:40px;
  height:40px;
  border-radius:50%;
  border:2px solid #333;
  margin:5px;
}

.azul{ background:#4da3ff; }
.verde{ background:#58d68d; }
.amarelo{ background:#f7dc6f; }
.rosa{ background:#f5b7b1; }

.cards{
  display:flex;
  gap:20px;
  justify-content:center;
  flex-wrap:wrap;
}

.card{
  background:white;
  border:2px solid #ccc;
  border-radius:10px;
  width:220px;
  padding:15px;
  box-shadow:0 0 8px gray;
}

.figura{
  font-size:70px;
}

.opcoes button{
  margin:5px;
  padding:10px 15px;
}

#mensagem{
  font-weight:bold;
  margin-top:20px;
  color:#0d47a1;
}
